<section class="about-section">
  <h2><span>About</span> Me</h2>

  <div class="about-content" appInView tabindex="0">
    <div class="about-image">
      <img src="assets/images/cartoon.jpeg" alt="Pavan, a full-stack developer" />
    </div>

    <div class="about-text">
      <h3>Hi, I'm Pavan 👋</h3>
      <p>
        I'm a passionate DevOps Engineer with a strong foundation in backend development and automation. With hands-on experience in containerized applications, CI/CD workflows, cloud services, and API-driven architectures, 
        I focus on building scalable, maintainable, and production-ready systems.
      </p>

      <div class="about-highlights">
        <p><strong>Cloud&DevOps:</strong> AWS, CI/CD (Jenkins), Docker, Terraform, Linux, Kubernetes, Git, GitHub </p>
        <p><strong>Backend:</strong> Python, Django, DRF, MySQL</p>
        <p><strong>Frontend (Supporting Skills):</strong> Angular, HTML, CSS, Bootstrap, JavaScript <p>
      </div>

      <a href="assets/pdf/Pavan_Gadam_Devops_Engineer.pdf" download class="btn" aria-label="Download Pavan's resume">Download Resume</a>
    </div>
  </div>
</section>