<section class="hero">
  <div class="hero-content">
    <h1>Hi, I'm <span class="highlight">Pavan</span></h1>
    <h2>I’m a <span class="typed-text" id="typed"></span></h2>
    <p>I'm a remote-ready full-stack developer specializing in building scalable, high-performance web applications using Angular for front-end development and Python with Django for back-end services. I focus on writing clean, maintainable code and delivering seamless user experiences while collaborating efficiently with distributed teams.</p>

    <div class="cta-buttons">
      <a routerLink="/projects" class="btn">View Projects</a>
      <a routerLink="/contact" class="btn secondary">Hire Me</a><br><br><br>
    </div>
    <div class="social-buttons">
      <a href="https://www.linkedin.com/in/pavan-gadam" target="_blank" class="btn primary">LinkedIn</a>
      <a href="https://github.com/Pavankumar-gadham" target="_blank" class="btn primary">Github</a>
    </div>

  </div>

  <div class="hero-image">
    <img src="assets/images/cartoon.jpeg" alt="Pavan's photo" />
  </div>
</section>

